telegram_api_key: "1234"
webhook_server: "http://0.0.0.0:5588"
lnbits_url: "http://127.0.0.1:5000"
lnbits_public_url: "http://url.com:5000"
lnurl_public_server: "http://url.com:80"
lnbits_admin_key: "1234"
lnbits_admin_id: "3212"
db_path: "data/bot.db"
transactions_path: "data/transactions.db"
message_dispose_duration: 10