bot:
  http_proxy: ""
  lnurl_public_host_name: "mylnurl.com"
  lnurl_server: "https://mylnurl.com"
telegram:
  message_dispose_duration: 10
  api_key: "1234"
lnbits:
  url: "http://127.0.0.1:5000"
  admin_key: "1234"
  admin_id: "1234"
  webhook_server: "http://0.0.0.0:5588"
  lnbits_public_url: "link.mylnurl.com"
database:
  db_path: "data/bot.db"
  buntdb_path: "data/bunt.db"
  transactions_path: "data/transactions.db"